{% extends 'base.html' %}

{% block content %}

<div class="container mt-3">
    <h2>Blog Posts</h2>
    <a href="{% url 'post_new' %}" class="btn btn-primary">Add Post</a>
    <ul class="list-group mt-3">
        {% for post in object_list %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'post_detail' post.pk %}" class="me-auto">
                {{ post.title }}
            </a>
            <a href="{% url 'post_edit' post.pk %}" class="btn btn-secondary btn-sm">Edit</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}